<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>初识命令</string>
	<key>Description</key>
	<string>Description</string>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>你需要输入一些命令。首先点击\&quot;轻按输入代码\&quot;区域，然后使用`moveForward()`和`collectGem()`来完成这个迷阵</string>
		</dict>
	</array>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>PosterReference</key>
	<string>LiveViewPoster.png</string>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
</dict>
</plist>
